[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "gist-vim"]
	path = gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "unbundle"]
	path = unbundle
	url = https://github.com/sunaku/vim-unbundle.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/posterous"]
	path = bundle/posterous
	url = https://github.com/agscala/vim-posterous.git
[submodule "ftbundle/objc/vim-objc"]
	path = ftbundle/objc/vim-objc
	url = https://github.com/b4winckler/vim-objc.git
[submodule "ftbundle/processing/vim-processing"]
	path = ftbundle/processing/vim-processing
	url = https://github.com/sophacles/vim-processing.git
[submodule "ftbundle/python/python-mode"]
	path = ftbundle/python/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/cocoa-vim"]
	path = bundle/cocoa-vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "ftbundle/python/ipython"]
	path = ftbundle/bundle/ipython
	url = git://github.com/ivanov/vim-ipython.git
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
